# Created by .ignore support plugin (hsz.mobi)
.properties

#Package Files #
*.class
*.log
*.jar
*.war
*.ear
target/

#idea#
.idea/
*.iml
.classpath
.project
.settings/
bin/
tep/

/src/main/resources/dbconf.properties
