.manager{margin: 0 -20px 0 0;}
.manager::after{content: '';display: block;clear: both;}
.manager li{float: left;width: 530px;text-align: center;padding: 40px 0;margin: 0 20px 20px 0;}
.manager li .number{font-size: 30px;}
.manager li .title{font-size: 15px;color: #888;}

.declare{margin-top: 20px;}
.declare h4{padding: 20px;border-bottom: 1px solid rgba(51, 153, 102, .1);background: rgba(51, 153, 102, .02);font-size: 15px;}
.declare ul{margin-top: 20px;}
.declare ul li{display: flex;justify-content: space-between;box-sizing: border-box;padding: 10px 30px;font-size: 15px;line-height: 30px;}
.declare ul li:hover{background: rgba(51, 153, 102, .1);}
.declare ul li div.title{width: 65%;}
.declare ul li div.username{width: 10%;text-align: center;}
.declare ul li div.datetime{width: 15%;text-align: center;}
.declare ul li div:last-child{width: 10%;text-align: center;}
.declare ul li div:last-child a{font-size: 12px;}