<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.CollegeStuMapper">


    <resultMap id="BaseResultMap" type="com.bean.Student">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="stu_number" property="stuNumber" jdbcType="INTEGER"/>
        <result column="stu_name" property="stuName" jdbcType="VARCHAR"/>
        <result column="college_id" property="collegeId"/>
        <result column="stu_class" property="className" jdbcType="VARCHAR"/>
        <result column="major" property="major"></result>
        <association property="college" select="com.dao.CollegeMapper.selectByPrimaryKey"
                     column="college_id"></association>
        <association property="sumCredit" select="com.dao.CreditMapper.selectBystuNumber"
                     column="stu_number"></association>
    </resultMap>
    <insert id="insertSelective">
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="student.collegeId != null">
                college_id,
            </if>
            <if test="student.stuNumber != null">
                stu_number,
            </if>
            <if test="student.stuName != null">
                stu_name,
            </if>
            <if test="student.major != null">
                major,
            </if>
            <if test="student.className != null">
                stu_class,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="student.collegeId != null">
                #{student.collegeId,jdbcType=INTEGER},
            </if>
            <if test="student.stuNumber != null">
                #{student.stuNumber,jdbcType=INTEGER},
            </if>
            <if test="student.stuName != null">
                #{student.stuName,jdbcType=VARCHAR},
            </if>
            <if test="student.major != null">
                #{student.major,jdbcType=VARCHAR},
            </if>
            <if test="student.className != null">
                #{student.className,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <delete id="deleteStuByStuNumber">
    delete from ${tableName}
    where stu_number = #{stuNumber,jdbcType=INTEGER}
    </delete>

    <delete id="deleteStuBatchByList">
        delete from where ${tableName} in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item,jdbcType=int}
        </foreach>
    </delete>

    <!--根据学院名来查找学生的学号-->
    <select id="selectStuNumberWithCollegeName" resultType="java.lang.Integer">
        select stu_number from ${tableName}
    </select>

    <!--根据学院名来查找学生姓名-->
    <select id="selectStuNameWithCollegeId" resultType="java.lang.String">
        select stu_name from ${tableName}
    </select>

    <!--根据学院名来查询所有学生-->
    <select id="selectAllStuByCollegeName" resultMap="BaseResultMap">
        select * from ${tableName}
    </select>

    <!--条件查询学生列表stuName stuNumber stuClass-->
    <select id="selectStuByCondition" resultMap="BaseResultMap">
        select * from ${tableName}
        <bind name="_stuName" value=" '%'+stuName+'%' "/>
        <where>
            <if test="stuNumber!=null">
                stu_number=#{stuNumber}
            </if>
            <if test="stuName!=null and stuName!=&quot;&quot;">
                and stu_name like #{_stuName}
            </if>
            <if test="stuClass!=null and stuClass!=&quot;&quot;">
                and stu_class=#{stuClass}
            </if>
            <if test="major!=null and major!=&quot;&quot;">
                and major=#{major}
            </if>
        </where>
    </select>

    <!--模糊查询-->
    <select id="selectStuByLikeSearch" resultMap="BaseResultMap">
        select * from ${tableName} where
     stu_number like concat ("%",#{keyword},"%") or
     stu_name like concat ("%",#{keyword},"%") or
     major like concat ("%",#{keyword},"%") or
     stu_class like concat ("%",#{keyword},"%")
    </select>

    <!--根据表名得到不重复的专业字段-->
    <select id="getAllMajor" resultType="java.lang.String">
        select distinct major from ${tableName} order by major asc
    </select>

    <!--根据专业得到班级名-->
    <select id="getAllClass" resultType="java.lang.String">
        select distinct stu_class from ${tableName} where
        <if test="major!=null and major!='' and major!='-1'.toString()">
            major=#{major}
        </if>
        order by stu_class asc
    </select>

    <select id="selectStuNumber" resultType="java.lang.Integer">
        select stu_number from ${tableName}
        <trim prefix="where" suffixOverrides="and">
            <if test="major!=null and major!='' and major!='-1'.toString() ">
                major=#{major} and
            </if>
            <if test="stuClass!=null and stuClass!='' and stuClass!='-1'.toString() ">
                stu_class=#{stuClass}
            </if>
        </trim>
    </select>

    <select id="selectStuNumberByKeyword" resultType="java.lang.Integer">
        select stu_number from ${tableName}
        <trim prefix="where" suffixOverrides="and">
            <if test="major!=null and major!='' and major!='-1'.toString() ">
                major=#{major} and
            </if>
            <if test="stuClass!=null and stuClass!='' and stuClass!='-1'.toString() ">
                stu_class=#{stuClass}
            </if>
            <if test="keyword!=null and keyword!=''">
                or stu_number like concat ("%",#{keyword},"%") or
                stu_name like concat ("%",#{keyword},"%")
            </if>
        </trim>
    </select>
</mapper>