<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.CreditMapper" >
  <resultMap id="BaseResultMap" type="com.bean.Credit" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stu_number" property="stuNumber" jdbcType="INTEGER" />
    <result column="sum_credit" property="sumCredit" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, stu_number, sum_credit
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bean.CreditExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from credit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from credit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bean.CreditExample" >
    delete from credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bean.Credit" >
    insert into credit (id, stu_number, sum_credit
      )
    values (#{id,jdbcType=INTEGER}, #{stuNumber,jdbcType=INTEGER}, #{sumCredit,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.Credit" >
    insert into credit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stuNumber != null" >
        stu_number,
      </if>
      <if test="sumCredit != null" >
        sum_credit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stuNumber != null" >
        #{stuNumber,jdbcType=INTEGER},
      </if>
      <if test="sumCredit != null" >
        #{sumCredit,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bean.CreditExample" resultType="java.lang.Integer" >
    select count(*) from credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update credit
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.stuNumber != null" >
        stu_number = #{record.stuNumber,jdbcType=INTEGER},
      </if>
      <if test="record.sumCredit != null" >
        sum_credit = #{record.sumCredit,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update credit
    set id = #{record.id,jdbcType=INTEGER},
    stu_number = #{record.stuNumber,jdbcType=INTEGER},
    sum_credit = #{record.sumCredit,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.Credit" >
    update credit
    <set >
      <if test="stuNumber != null" >
        stu_number = #{stuNumber,jdbcType=INTEGER},
      </if>
      <if test="sumCredit != null" >
        sum_credit = #{sumCredit,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.Credit" >
    update credit
    set stu_number = #{stuNumber,jdbcType=INTEGER},
      sum_credit = #{sumCredit,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--根据学号查询总学分-->
  <select id="selectBystuNumber" resultType="java.lang.Double">
    select sum_credit from credit where stu_number=#{stu_number}
  </select>

</mapper>